@model abc.Models.InterViewRound
@{
    ViewBag.Title = "ShowInterviewRounds";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<div class="col-md-12">

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">InterView Rounds</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th>InterViewRoundName</th>
                            <th>Interview Round Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.GetInterviewRoundData == null)
                        {
                            <tr>
                                <td>Please Enter Some Education Categories</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in ViewBag.GetInterviewRoundData)
                            {
                                <tr>
                                    <td>@item.Round_Name</td>
                                    <td>@item.Round_Status</td>
                                    <td>
                                        @{
                                using (@Html.BeginForm("EditInterviewRoundInformation","Admin", FormMethod.Post))
                                {
                                   <input type="hidden" name="InterviewRounds_Id" id="InterviewRounds_Id" value="@item.InterviewRounds_Id " />
                                            <input type="submit" class="btn btn-default btn-sm" name="" value="Edit " />

                                }
                                        }
                                    </td>

                                    <td>
                                        @{
                                using (@Html.BeginForm("InterviewRoundChangeStatus","Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                   <input type="hidden" name="InterviewRounds_Id" id="InterviewRounds_Id" value="@item.InterviewRounds_Id " />
                                            <input type="submit" class="btn btn-default btn-sm" name="" value="Toggle " />

                                }
                                        }
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div><!-- /.table-responsive -->
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            <a href="#" class="btn btn-sm btn-info btn-flat btn-success pull-left" data-toggle="modal" data-target="#ivr-modal">Add Interview Round</a>
            <a href="#" class="btn btn-sm  btn-flat pull-right">Cancel</a>
        </div><!-- /.box-footer -->
    </div><!-- /.box -->
</div>



<!---Modal--->

<div class="Education-Category">
    <div class="modal modal-success modal fade" tabindex="-1" id="ivr-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="Education-Category">Add Interview Round</h4>
                </div>

                @{
                    using (@Html.BeginForm("SaveInterviewRoundInformation", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                    {

                        <div class="modal-body">



                            <br />

                            <div class="form-group">
                                <label for="RoundName" class="col-sm-3 control-label">Interview Round Name</label>
                                <div class="col-sm-9">


                                    @Html.TextBoxFor(d => d.Round_Name, new { @class = "form-control", @id = "Round_Name" })
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline btn-success pull-left " aria-hidden="true" data-dismiss="modal">Close</button>
                            @Html.HiddenFor(d => d.InterviewRounds_Id)
                            <button type="submit" class="btn btn-outline">Save changes</button>
                        </div>
                    }

                }
            </div>



            <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


